* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

a {
    color: #4d4d4d;
}

#header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    background-color: #fec949;
    z-index: 1;
    padding: 0 5rem;
}

#header-img {
    max-width: 21rem;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}

#nav-bar {
    color: white;
    font-size: 3rem;
}

#nav-bar ul {
    display: flex;
}

#nav-bar ul li {
    padding: 2rem;
    text-transform: uppercase;
}

#wideo {
    width: 100%;
}

#newsletter {
    background: #f6f8fa;
    margin-top: 5rem;
    padding: 6rem 0;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 2rem;
}

#form {
    font-size: 2rem;
}

#email {
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
}

#submit {
    font-size: 2.2rem;
    background-color: #fec949;
    padding: 1.5rem;
    border: 0;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5rem;
}

#features {
    background-color: #d4dee7;
    font-size: 2.5rem;
    padding: 2rem 0;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 4rem;
    padding: 2rem 0;
}

.icon-img {
    max-height: 10rem;
}

#pricing {
    padding: 2rem 0;
    background-color: #f6f8fa;
}

.pricing-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    font-size: 2.5rem;
}

.product {
    border: 0.1rem solid black;
    border-radius: 0.3rem;
}

.product-top {
    text-align: center;
    background: #fec949;
    padding: 2rem;
}

.product-description {
    padding: 1.5rem;
}

.product-apply {
    text-align: center;
}

.product-button {
    font-size: 2.2rem;
    background-color: #fec949;
    padding: 1.5rem;
    border: 0;
    cursor: pointer;
    margin: 1.5rem 0;
    border-radius: 0.3rem;
}

#footer {
    background: whitesmoke;
    font-size: 2rem;
    padding: 1.5rem;
}

@media (max-width: 955px){

    #header {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        margin: 0 1rem;
    }
    #nav-bar ul {
        display: block;
    }
    #nav-bar ul li {
        padding: 1.5rem;
    }

    #newsletter {
        padding-top: 20rem;
    }

    .row {
        grid-template-columns: 1fr;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .desc {
        text-align: center;
    }

    .pricing-grid {
        grid-template-columns: 1fr;
    }

}